:root {
  --navbar-animation-time: 0.3s;
  --menu-background-color: rgb(25, 26, 28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif !important;
}

body {
  padding-left: 0;
  transition: padding-left var(--navbar-animation-time) ease-in-out;
  background-color: var(--menu-background-color);
}

.content {
  margin-left: 15px;
}

/*===============*/
/* lastest update*/
/*===============*/

.lastest-update-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.lastest-update-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(44, 44, 44);
  padding: 10px;
  border-radius: 8px;
}

.lastest-update-item img {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.lastest-update-item-content h6 {
  margin: 0;
  font-size: 17px;
  color: white;
  font-weight: bold;
}

.lastest-update-locale-volume {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lastest-heading {
  color: white;
}

.lastest-update-vol-chap {
  color: white;
}

.lastest-update-scanlation-group {
  color: white;
}
